body {
	font-size: 16px;
	color: darkgrey;
	background-color: #fffaf0;	
	font-family: 'Oxygen', sans-serif;
}


#header-nav {
	background-color: #61122f;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1 {
	font-size: 1.5em;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin: 5px;
}

.navbar-brand a:hover {
	text-decoration: none;
}

#nav-list{
	margin-top:10px;
}


#nav-list a{
	color: white;
	text-align: center;
	background: #61122f;
}

#nav-list a:hover {
	color: #e7e7e7;
}

#nav-list a span{
	font-size: 1.2em;
}


/*main content*/

#menu-title {
	margin-top: 30px;
	font-size: 1.2em;
	color: black;
}

#meal{
	width: 90%
	height:90%;
	margin-bottom: 10px;
}

#title-text{
	font-size: 1em;
}

.item-details{
	font-size: 0.8em;
}

#title-text{
	font-weight: bolder;
	color: black;
}

#title-text:hover{
	text-decoration: none;
}


/*large device*/
@media (min-width: 1200px){

}

/*medium device only*/

@media (min-width: 992px) and (max-width: 1199px){
	
}

/*small device only*/

@media (min-width: 768px) and (max-width: 991px){
	
}

/*extra small devices only*/

@media (max-width: 767px){
	
}